arabic-reshaper==3.0.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
idna==3.10
numpy==2.0.2
pycparser==2.22
pynput==1.7.7
pyobjc-core==10.3.2
pyobjc-framework-ApplicationServices==10.3.2
pyobjc-framework-Cocoa==10.3.2
pyobjc-framework-CoreText==10.3.2
pyobjc-framework-Quartz==10.3.2
pyperclip==1.9.0
PyQt6==6.7.1
PyQt6-Qt6==6.7.3
PyQt6_sip==13.8.0
requests==2.32.3
six==1.16.0
sounddevice==0.5.1
srt==3.5.3
tqdm==4.67.1
urllib3==2.2.3
vosk==0.3.44
websockets==14.1
